{% extends 'base.html' %}
{% block title %}
  <title>Edit Content</title>
{% endblock title %}
 {% block content %}
 </br>
 {% if task_obj.manager == request.user %}
           <form method="POST" class="row">
                 {% csrf_token %}
                    <label class='cl-lg-2'>update  </label>
                    <input type="text" class="form-control cl-lg-2" name="task" placeholder="{{task_obj.task}}" value="{{task_obj.task}}" >
                    <input type="hidden"  name="done"  value="{{task_obj.done}}" >  
                    <button type="submit" class="btn btn-primary cl-lg-2">Update Task</button>
           </form>
  {%else%} 
           <h1>Access Restricted ,You Are Not Allowed</h1>       
  {%endif%}           
 {% endblock content %}